.pricing-page-container{
    padding: 30px;
    
}

.pricing-container{
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
    grid-gap: 30px;
}

/* make services responsive */
@media screen and (max-width:576px){
    .pricing-container{
        grid-template-columns: repeat(1, 1fr);
    } 
    .pricing-page-container{
        padding: 5px;
    }  
}
